 body, html {
	 height: 100%;	 
 }
 
 body {
		background-image: url("https://images6.alphacoders.com/362/362673.jpg");
		background-size: cover; 
		font-size: .95em;
		
	 }
 
#HELP {
	background-color: #f8f7f7;
	transition: all .7s;
	position: absolute;
	top: 1500px;
	left: -300px;
	min-height: 400px;
	font-size: 1.6em;
	width: 50px;
	z-index: 99;
	border: 1px solid black;
	border-radius: 12px;
	
}
 
input::placeholder {
	font-size: .7em;
}
 
 .HELP_RIGHT {
	 cursor: pointer;
	 float: right;
	 margin-top: 15px;
	 
 }
  
  
  #HELP li {
	  font-weight: bold;
	  margin-bottom: 10px;
  }
  
 #HELP_BACKGROUND {
	width: 0%;
	height: 0%;
	background-color: #edeeec;
	background-image:url('https://coolbackgrounds.io/images/backgrounds/sea-edge-311c5cd5.png');
    background-repeat:no-repeat;
    background-size:cover;
	position: absolute;
	top: 50%;
	left: 50%;
	display: none;
	transition: all 1s;
 } 
  
  #HELP_BACKGROUND #EXAMPLE {
	  
	text-align: center;
	position: relative;
	top: 80%;
	font-weight: bold;
	font-family: 'Amaranth';
	font-size: 22px;
 }

  
.para {
	margin: 20px;
}
 
 #HELP p {
	 font-size: 1.5em;
 }
 
#APP {
	margin-top: 115px;	
}

.orderFORM {
	top: -65px;
	position: relative;
}

 
 .card {
	 border: 1px solid black;
	 padding: 40px;
	 padding-bottom: 120px;
	 border-radius: 15px;
	 background-color: white;
 }
 
 #newRowbtn {
	margin-bottom: 30px; 
	margin-top: 0px;
 }
 input, select{
	border:0px solid #000;
	margin:0; 
	background:transparent;
	width:100%;
	cursor: pointer;
 }
 input:focus {
	background-color: #e6ffe6;
 }
 table tr td {
	border-right:1px solid #000; 
	border:1px solid #000;
 }
 table tr th {
	border-right:1px solid #000; 
	border-bottom:1px solid #000;
	border-top:1px solid #000;
	padding-left: 4px;
	
 }
 table tr th input {
	height: 45px;
	padding-left: 5px;
 }
  table tr td input {
	padding-left: 5px;
 }
 table {
	background: #fff none repeat scroll 0 0;
	border-left: 1px solid #000;
	border-top: 1px solid #000;
	font-size: 1.3em;
 }
 table tr:nth-child(even){
 b	ackground:#ccc;
 }
 table tr:nth-child(odd){
	background:#eee;
 }
 .orderFORM {
	margin-top: 50px;
 }
 
 .glyphicon {
	font-size: 22px;
	margin-right: 10px;
 }
 
  .glyphicon:hover {
	color: green;
 }
 
 

p {
	font-family: 'ABeeZee';font-size: 14px;
}
 
 h1 {
	font-size: 2em;
	font-weight: bold;
 }
 
 h3 {
 display: inline-block;
 font-weight: bold;
 }